{% extends "users/base.html" %}
{% block content %}
<div class="card-columns">
    {% for resource in shelf %}
    <div class="card" style="width: 15rem;">
  <div class="card-body">
    <h5 class="card-title">{{ resource.title }}</h5>
    <p class="card-text">{{ resource.author }}</p>
   <div class="card-footer bg-transparent border-dark">
   <p class="card-title">{{ resource.author }}</p>
   <center>
       <a href="forms/resource-update/{{resource.id}}" class="btn btn-warning" id = '{{resource.id}}'>edit</a>
       <a href="forms/resource-delete/{{resource.id}}" class="btn btn-danger" id = '{{resource.id}}'>delete</a>
    </center>
    </div>
  </div>
</div>
    {% endfor %}
</div>
{% endblock content %}